## Essential packages: software dependency
fire>=0.1.3

## SciPy
numpy
pandas

## Dev packages: development enviroment
# NOTE: mark with #dev to ignore in setup.py

# Testing
pytest #dev
pytest-mypy #dev
pytest-cov #dev
flake8 #dev
bandit #dev

# Cloud Storage
#awscli #dev

## Data analysis
# jupyter
# matplotlib
# seaborn

# Vader requirements
requests

## NLP
vaderSentiment==3.2.1

# nltk==3.4.5 
# 	Added manually in 'Dockerfile' with
#	RUN pip install nltk==3.4.5
#	RUN python -m nltk.downloader -d /nltk_data punkt

## ML
scikit-learn==0.22.2

## Model persistence
joblib